#header nav ul li  {
    padding: 0 1.45rem 0 1.45rem;
}

#wrapper > #main  {
    min-width: 100%;
}
article#aboutUs.active, article#aboutUs.close, article#aboutUs.close:before,  #main> article#aboutUs{
    width: inherit;
    /*background-color: #006600;*/
    /*max-width: inherit;*/
}
.image:before{
    background-image: none;
    background-color: transparent;
}
.image.left, .image.right {
    max-width: 50%;
    padding: 1.45rem;
}
.image.left img, .image.right img {
    width: 100%; }


.hotel {
    font-weight: bold;
    text-decoration: underline;
}

.venue {
    padding: 0.45rem;
    font-weight: bold;
    font-size: 20px;

}
.link-label {
    font-size: 20px;
}
.hotel-info {
    line-height: 20px;
    font-size: 20px;
}
ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

.center {
    text-align: center;
    margin: auto;
}

#header{
    background-image: none;
}

.engagement-story {
    font-size: 1.25em;
    padding: 0.45rem;
}

#footer .copyright {
    display: none;
}

.limit-height {
    max-height: 20em;
}

.pure-img-responsive {
    max-height: 30em;
}